@charset utf-8;


main {
margin-top: 5%;
}


footer {
display: block;
display: flex;
justify-content: flex-end;
font-weight: 700;
background: #777;
padding: 0 5px 0 0;
}

//Start vertical navigation bar



#vertical_nav 
	{
		margin: 0;
		padding: 0;
	}


#vertical_nav ul 
	{
		list-style: none;
		padding: 0;
		width: 20%;
	}	


#vertical_nav ul li 
	{
		position: relative;
	}


#vertical_nav ul li a 
	{
		width: 100%;
		color: #fff;
		background-image: linear-gradient(to right, #006, #00c, #00f, #33f, #99f);
		display: block;
		height: 64px;
		font-family: lato;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}


#vertical_nav ul li a:hover 
	{
		background-image: linear-gradient(to right, #006, #00c, #99f);
	}



//Start Drop Menu



#drop_nav 
	{
		margin: 0;
		padding: 0;
	}



#drop_nav ul 
 {
	list-style: none;
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
 }



#drop_nav li 
	{
		position: relative;
		width: 100%;
		text-align:center;
		
	}


#drop_nav a 
	{
		color: #f6f7f8;
		background: #030;
		display: block;
		height: 64px;
		font-family: lato;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		transition: background 0.4s;
	}



#drop_nav a:hover 
	{
		background: #090;
		
	}




#drop_nav li:hover .submenu  li 
	{
		display: block;
		margin-top: 0px;
	}


.submenu li 
	{
		display: none;
		position: relative;
		margin-top: 0px;
	}


.submenu 
	{
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
	}



.submenu li:hover 
	{
		display: block;
		
	}




/*Add a class named arrow here. Include all 
required formatting per the instructions.*/
.arrow
	{
	margin-left: 8px;
	color: #eee;
	font-size: 12px;
	}



//Start Navigation Tabs

#tabs_nav
	{
		margins: 0;
		padding: 0;
	}

#tabs_nav ul
	{
		width:90%;
		list-style: none;
		display: flex;
	}

#tabs_nav li
	{
		width: 100%;
		text-align: center;
		position: relative;
	} 

#tabs_nav a
	{
		color: #fff;
		height: 64px;
		border-radius: 20px 20px 0 0;
		margin-bottom: 0;
		margin-right: -10px;
		margin-left: 5px;
		z-index: 5;
		text-decoration: none;
		box-shadow: 0 0 4px 5px rgba(0, 0, 0, .8);
		display: flex;
		justify-content: space-around;
		align-items: center;
		display: block;
		background-image: linear-gradient(to bottom, #ff80df, #0c9);
		position: relative;
		transition: background 0.4s;
		font-family: lato;
		font-weight: bold;
		}

#tabs_nav a:hover
	{
		margin-top: -10px;
		padding-bottom: 10px;
		margin-right: -5px;
		z-index: 5;
		position: relative;
		
	}


/*Start responsive menu here*/

*
	{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	
.navbar
	{
		font-size: 18px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding-bottom: 10px;
		background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
	}

.main-nav
	{
		list-style: none;
		display: none;
	}
	
.active
	{
		display: block;
	}
	
.nav-links, .home
	{
		text-decoration: none;
		color: rgba(255, 255, 255, 0.7);
	}
	
.main-nav li
	{
		text-align: center;
		margin: 15px auto;
	}			
	
.home
	{
		display: inline-block;
		font-size: 22px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
.navbar-toggle
	{
		color: rgba(255, 255, 255, 0.8);
		font-size: 24px;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 20px;
	}
	
@media screen and (min-width: 768px)
	{
		nav
			{
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 70px;
				padding-bottom: 0;
			}
			
		.main-nav
			{
				display: flex;
				margin-right: 30px;
				flex-direction: row;
				justify-content: flex-end;
			}
		
		.main-nav li
			{
				margin: 0;
			}
			
		.nav-links
			{
				margin-left: 40px;
			}
			
		.home
			{
				margin-top: 0;
			}
			
		.navbar-toggle
			{
				display: none;
			}
			
		.home:hover, .nav-links:hover
			{
				background-color: rgba(0, 0, 0, 1);
			}
	}